.btn {
    border: 1px solid white;
    background-color: transparent;
    font-weight: bold;
    color: white;
    padding: 7px;
    transition: .3s;
}
.btn:hover{
    color: black;
    background-color: white;
    transition: .3s;
}