*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.headercontainer{
    width: 75%;
    margin-top: 5px;
}

.header1{
    display: flex;
    justify-content: space-between;
}
.header1right{
    display: flex;
    gap: 20px;
}
.iconbox i{
    color: #f16821;
}
.header1right *{
    display: flex;
    gap: 10px;
    align-items: center;
}
.header1left{
    display: flex;
    gap: 5px;
}
.header1left *{
    background-color: #1E3050;
    border-radius: 50%;
    padding: 5px;
color: white;

}
.iconbox{
    display: flex;
}


span{
    color: #f16821;
    font-family: "Roboto", sans-serif;

}

.header2{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    width: 75%;
   
    z-index: 99;
  
}

.header2right h3{
    font-weight: 400;
}
.header2right{
    display: flex;
    gap: 30px;
}

